<!-- MyCounter v.2.0 -->
<script type="text/javascript"><!--
my_id = 121142;
my_width = 88;
my_height = 31;
my_alt = "MyCounter - счётчик и статистика (посетителей и хитов сегодня)";
//--></script>
<script type="text/javascript"
  src="http://scripts.mycounter.ua/counter2.0.js">
</script><noscript>
<a target="_blank" href="http://mycounter.ua/"><img
src="http://get.mycounter.ua/counter.php?id=121142"
title="MyCounter - счётчик и статистика (посетителей и хитов сегодня)"
alt="MyCounter - счётчик и статистика (посетителей и хитов сегодня)"
width="88" height="31" border="0" /></a></noscript>
<!--/ MyCounter -->
