<!-- MyCounter v.2.0 -->
<script type="text/javascript">
my_id = 107010;
my_width = 88;
my_height = 31;
my_alt = "MyCounter - счётчик и статистика (посетителей и хитов сегодня)";
</script>
<script type="text/javascript"
  src="http://scripts.mycounter.ua/counter2.0.js">
</script><noscript>
<a target="_blank" href="http://mycounter.ua/"><img
src="http://get.mycounter.ua/counter.php?id=107010"
title="MyCounter - счётчик и статистика (посетителей и хитов сегодня)"
alt="MyCounter - счётчик и статистика (посетителей и хитов сегодня)"
width="88" height="31" border="0" /></a></noscript>
<!--/ MyCounter -->

<script type="text/javascript">document.write("<a href='http://www.liveinternet.ru/click' target=_blank><img src='//counter.yadro.ru/hit?t44.6;r" + escape(document.referrer) + ((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth)) + ";u" + escape(document.URL) +";h"+escape(document.title.substring(0,80)) +  ";" + Math.random() + "' border=0 width=31 height=31 alt='' title='LiveInternet'><\/a>")</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25131750-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
